/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 24 nov 2022, 00:15:46
    Author     : ksio
*/

.txt_just{
    text-align: justify;
}

.color_titulos{
    background-color: #1e1e1e;
}