<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registro</servlet-name>
        <servlet-class>servlet.registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inciar_session</servlet-name>
        <servlet-class>servlet.inciar_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check_login</servlet-name>
        <servlet-class>servlet.check_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_session</servlet-name>
        <servlet-class>servlet.delete_session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>close_login</servlet-name>
        <servlet-class>servlet.close_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarcuenta</servlet-name>
        <servlet-class>servlet.editarcuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardarcarrito</servlet-name>
        <servlet-class>servlet.guardarcarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>almacenarcarro</servlet-name>
        <servlet-class>servlet.guardarcarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>metodoscarrito</servlet-name>
        <servlet-class>servlet.metodoscarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registro</servlet-name>
        <url-pattern>/reg_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>inciar_session</servlet-name>
        <url-pattern>/start_session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check_login</servlet-name>
        <url-pattern>/check_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>close_login</servlet-name>
        <url-pattern>/close_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarcuenta</servlet-name>
        <url-pattern>/modcuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>almacenarcarro</servlet-name>
        <url-pattern>/savecar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>metodoscarrito</servlet-name>
        <url-pattern>/carsave</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
